.boton-clear{
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
    background-color: #de4040;
    color: #ffffff;
    border-radius:25px ;
    border: 1px solid #000000;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    flex: 1.1;
}

.boton-clear:hover{
    background-color:#fdfbfb ;
}


.icono-reset{
    width: 30px;
   height:  25px;
}